# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count = school_data_complete["school_name"].value_counts().count()
school_count

15

In [3]:
# Calculate the total number of students
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [4]:
# Calculate the total budget
total_budget = school_data_complete.groupby(["school_name"])["budget"].mean().sum()
total_budget

24649428.0

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = (passing_math_count / float(student_count)) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"]>=70)].count()["student_name"]
passing_reading_percentage=(passing_reading_count / float(student_count))*100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = (passing_math_reading_count /  float(student_count)) * 100
overall_passing_rate

65.17232575950983

In [10]:
district_summary = pd.DataFrame({"Total Schools": [school_count],
                                         "Total Students":[student_count],
                                         "Total Budget":[total_budget],
                                         "Average Math Score":[average_math_score],
                                         "Average Reading Score":[average_reading_score],  
                                         "% Passing Math":[passing_math_percentage],
                                         "% Passing Reading":[passing_reading_percentage],
                                         "% Overall Passing":[overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [11]:
# Use the code provided to select all of the school types
school_types=school_data.set_index(['school_name'])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [17]:
# Calculate the total student count per school
per_school_counts = school_data_complete.groupby(["school_name"]).count()["Student ID"]
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [13]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete.groupby(["school_name"])["budget"].mean()
per_school_capita = per_school_budget/school_data_complete["student_name"].count()
#per_school_capita
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [14]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby(["school_name"])["math_score"].mean()
per_school_math
per_school_reading = school_data_complete.groupby(["school_name"])["reading_score"].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [10]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]

school_students_passing_math=students_passing_math.groupby(["school_name"])[["math_score"]].count()
school_students_passing_math

                       math_score
school_name
Bailey High School           3318
Cabrera High School          1749
Figueroa High School         1946
Ford High School             1871
Griffin High School          1371
Hernandez High School        3094
Holden High School            395
Huang High School            1916
Johnson High School          3145
Pena High School              910
Rodriguez High School        2654
Shelton High School          1653
Thomas High School           1525
Wilson High School           2143
Wright High School           1680

In [11]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
school_students_passing_reading=students_passing_reading.groupby(["school_name"])[["reading_score"]].count()
school_students_passing_reading

                       reading_score
school_name
Bailey High School              4077
Cabrera High School             1803
Figueroa High School            2381
Ford High School                2172
Griffin High School             1426
Hernandez High School           3748
Holden High School               411
Huang High School               2372
Johnson High School             3867
Pena High School                 923
Rodriguez High School           3208
Shelton High School             1688
Thomas High School              1591
Wilson High School              2204
Wright High School              1739

In [12]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) &
                                                (school_data_complete["math_score"] >= 70)]

#school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [18]:
# Use the provided code to calculate the passing rates
#per_school_passing_math
#Error # 1 "student_name" after count()
per_school_passing_math = school_students_passing_math.groupby(["school_name"]).count()/per_school_counts*100
per_school_passing_math
#per_school_passing_reading
per_school_passing_reading = school_students_passing_reading.groupby(["school_name"]).count()/per_school_counts*100
per_school_passing_reading
##overall_passing_rate=school_students_passing_math_and_reading.groupby(["school_name"]).count()
overall_passing_rate = school_students_passing_math_and_reading.groupby(["school_name"]).count()/per_school_counts*100
overall_passing_rate

school_name
Bailey High School       0.020096
Cabrera High School      0.053821
Figueroa High School     0.033910
Ford High School         0.036510
Griffin High School      0.068120
Hernandez High School    0.021575
Holden High School       0.234192
Huang High School        0.034282
Johnson High School      0.021004
Pena High School         0.103950
Rodriguez High School    0.025006
Shelton High School      0.056786
Thomas High School       0.061162
Wilson High School       0.043802
Wright High School       0.055556
dtype: float64

In [27]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary =pd.DataFrame({"School Type" : school_types, 
                                  "Total Students" : per_school_counts,
                                  "Total School Budget" : per_school_budget,
                                  "Per Student Budget" : per_school_capita,
                                  "Average Math Score" : per_school_math,
                                  "Average Reading Score" : per_school_reading,
                                  "% Passing Math" : per_school_passing_math,
                                  "% Passing Reading" : per_school_passing_reading,
                                  "% Overall Passing" : overall_passing_rate})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

NameError: name 'school_types' is not defined

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending = True)
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("% Overall Passing", ascending = False)
bottom_schools.tail(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"Ninth Grade Math":ninth_grade_math_scores,
                                     "Tenth Grade Math":tenth_grader_math_scores,
                                     "Eleventh Grade Math":eleventh_grader_math_scores,
                                     "Twelfth Grade Math":twelfth_grader_math_scores})
#Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"Ninth Grade Math":ninth_grade_reading_scores,
                                     "Tenth Grade Math":tenth_grader_reading_scores,
                                     "Eleventh Grade Math":eleventh_grader_reading_scores,
                                     "Twelfth Grade Math":twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [23]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [26]:
# Create a copy of the school summary since it has the "Per Student Budget" 

school_spending_df = per_school_summary.copy()
school_spending_df

NameError: name 'per_school_summary' is not defined

In [30]:
# Use `pd.cut` to categorize spending based on the bins.
#Error # 2 '<' not supported between instances of 'int' and 'str'
school_spending_df["Spending Ranges (Per Student)"]=pd.cut((school_spending_df["Per Student Budget"]), spending_bins, labels=labels).astype(float)
school_spending_df

NameError: name 'school_spending_df' is not defined

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# #Assemble into DataFrame
spending_summary = pd.DataFrame({"PerCapita Spending vs Math Score":spending_math_scores,
                                 "Per Capital Spending vs Reading Score":spending_reading_scores,
                                 "Per Capita Spending vs % Passing Math":spending_passing_math,
                                 "Per Capita Spending vs % Passing Reading":spending_passing_reading,
                                 "Per Capita Spending vs % Overall Passing":overall_passing_spending })

# #Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [28]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
#Error # 3 name 'size_bins' is not defined
per_school_summary["School Size"] = pd.cut(school_spending_df["Total Students"], size_bins, labels=labels)
per_school_summary

NameError: name 'school_spending_df' is not defined

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"Math Score Size":size_math_scores,
                             "Reading Score Size":size_reading_scores,
                             "Math Passing":size_passing_math,
                             "Reading Passing":size_passing_reading,
                             "Overall Passing":size_overall_passing})

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({"Average Math Score":average_math_score_by_type,
                             "Average Reading Score":average_reading_score_by_type,
                             "Average %Passing Math":average_percent_passing_math_by_type,
                             "Average %Passing Reading":average_percent_passing_reading_by_type,
                             "Average %Overall Passing":average_percent_overall_passing_by_type})

# Display results
type_summary